:root {
	--couleur-principale: rgb(18, 111, 143);
	--couleur-fond: rgb(233, 232, 232);
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: var(--couleur-fond);
}

header {
	background-color: var(--couleur-principale);
	color: white;
	padding: 20px;

}

article {
	margin-top: 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: var(--couleur-principale);
}

main {
	display: grid;
	padding: 20px;
}

.post-form {
	flex: auto;
}

.post-form label {
	flex: auto;
	margin-bottom: 10px;
	font-weight: bold;
}

.post-form textarea {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.last {
	background-color: rgb(24, 160, 24);
	color: white;
	padding: 20px;
}